@import url('/assets/css/style.css');

@media screen and (max-width: 800px){
    .center-box.text h2{
        font-size:70px;
        margin:40px 0;
    }
    section.img-food .container{
    grid-template-columns:repeat(2,1fr);
    }
    section.meate{
       flex-direction:column;
    }
    section.meate .meate-text{
        writing-mode: horizontal-tb;
        width:100%;
    }
    section.reservas .reservas-info{
        flex-direction:column-reverse;
    }
    section.eventos .container{
        flex-direction:column;
    }
    .eventos-info .eventos-text{
        width:90%;
        margin:20px auto;
    }
}
@media screen and (max-width: 700px){
    header ul{display:none;}
    header .menu{display:block;}
    section.banner h1{
        font-size:75px;
    }
    section.center{height:auto;}
    section.center .container{
        flex-direction:column;
    }
    .center-box{
        width:95%;
        margin:0 auto;
    }
    .center-box img{ 
        width:80%;
        height:80%;
        min-height:400px;
        margin:0 auto;
        
       }
       .center-top{
        padding-top:200px;
        width:65%;
        top:25%;
        left:0;   
    }
    .center-box.text h2{
        font-size:90px;
        margin-top:10px;
        margin-bottom:30px;
    }
    .end{
        align-self: flex-end;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top:80px;
    }
    .center-bottom{
        position:absolute;
        top:80%;
        right:0;
        width:100px;
       
    }
    .cozinhar-card-box{
        grid-template-columns:repeat(2,1fr);
    }
    section.img-food .container{
        grid-template-columns:1fr;
        position:initial;
    }
    section.img-food .box-img{
        width:90%;
        height:70vh;
        
     
     }
     section.agricolas .container{
        flex-direction:column;
     }
     section.agricolas .agricolas-text{
        width:100%;
        margin-top:20px;
    }
    footer .footer-info{
        flex-direction:column-reverse;
        text-align: center;
    }
    .footer-direitos{
        margin-top:10px;
    }
}
@media screen and (max-width: 600px){
    section.banner h1{
        font-size: 60px;
    }
    section.banner p{
      font-size:20px;
    }
    section.meate .meate-img{
        min-height:400px;
    }
    .asiatica-text{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .asiatica-text br{display:block;}
    .asiatica-text p{
        max-width:400px;
        font-size:17px;
        text-align:center;
        margin:20px 2%;
        
    }
    section.agricolas .agricolas-img-box{
        flex-direction:column;
        align-items: center;
    }
    section.agricolas .agricolas-img-box img{
        width:80%;
        height:400px;
    }
    .eventos-info .eventos-text h3{
        font-size:35;
        text-align:center;
    }
    .eventos-form input[type=submit]{
        position:initial;
        width:45%;
    }
    .eventos-form p{
        max-width:100%;
        font-size:15px;
        line-height:20px;
        margin-top:10px;
    }
}
@media screen and (max-width: 450px){
    section.banner h1{
        font-size: 45px;
    }
    section.banner p{
      font-size:18px;
    }
    .center-box{
        width:100%;
    }
    .center-box img{ 
        width:90%;
        height:80%;
        min-height:400px;
        
       }
       .center-box.text h2{
        font-size:60px;
        margin:40px 0;
    }
    .cozinhar-card-box{
        grid-template-columns:1fr;
    }
    section.cozinhar  .cozinhar-card{
        margin:20px auto;
        width: 95%;
    }
    section.meate .meate-text{font-size:65px;}
    section.reservas .reservas-info h3{font-size:20px;}
    .reservas-icons{
        flex-direction:column;
    }
    .reservas-text .reservas-social a{
        font-size:25px;
    }
    .eventos-form input{
        width:90%;
    }
    .eventos-form input[name=data]{
        width:60%;
    }
    .eventos-form input[name=horas]{
        width:25%;
        
    }
}
@media screen and (max-width: 350px){
    section.banner h1{
        font-size: 35px;
    }
    section.banner p{
      font-size:16px;
    }
    .center-box .dark{
        width:200px;
     }
     section.cozinhar h2{font-size:66px;}
     .asiatica-text h3{font-size:66px;}
}

