@import url('/assets/css/media.css');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
/* body{
    overflow:clip;
} */

:root{
 --color-orange-dark:#fe7606;
 --color-orange-light:#ffc89b;
 --color-yellow:#f1c50e;;
}
.container{
    max-width:1200px;
    width:100%;
    margin:auto;
    padding:0 2%;
    display:flex;
}
.line{
    background-color:var(--color-orange-dark);
    margin-top:3px;
    width:0;
    height:2px;
    transition:all ease 0.4s;
}



/* ==== header ==== */

header .container{
    justify-content:space-between;
    align-items:center;
}
.header-logo{
    width:200px;
}
.header-logo img{
   width:90%;
}
header nav{
    display:flex;
    justify-content:center;
    flex:1;
}
header ul{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    width:100%;
    list-style:none;
}
header li a{
    text-decoration:none;
    color:var(--color-orange-dark);
    font-style:italic;
    transition:all ease 0.4s;
    text-transform:uppercase;
}
header li a:hover{
    text-shadow: 0px 0px 10px #000;
}
header li:hover .line{
    width:100%;
    box-shadow: 0px 0px 10px  #000;
    
}
header .menu{
    color:var(--color-orange-dark);
    font-size:38px;
    transition:all ease 0.4s;
    display:none;
    cursor:pointer;
    position:absolute;
    right:15px;
    top:30px;
}
header .menu:hover{
    color:#111;
}
/* === section-banner ==== */
section.banner{
    height:100vh;
    position:relative;
    z-index:0;
    background-image:url('../images/-min.jpg');
    vertical-align:middle;
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
    display:flex;
    align-items:center;
    text-shadow:2px 2px 3px #000;
}
section.banner aside{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:0;
    background-color:rgba(0,0,0,0.6);
    overflow-y:hidden;
    overflow-x:auto;
    transition:all ease 0.5s;
}
section.banner aside .closed-menu{
    width:100%;
    cursor:pointer;
    text-align:right;
    padding-top:15px;
}
section.banner aside .closed-menu img{
    width:40px;
    margin:15px;
}
section.banner aside nav{
    background-color:rgba(0,0,0,0.9);
    width:50vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    text-align: center;
    
}
section.banner aside ul{
    flex:1;
    
}
section.banner aside li{
    width: 93px;
    margin:60px auto;
}
section.banner aside li a{
   text-decoration:none;
   color:var(--color-orange-dark);
   font-size:25px;
   font-weight:normal;
   font-style:italic;
   
}
section.banner aside li a:hover{
    text-shadow: 0px 0px 10px #fff;
}
section.banner aside li:hover .line{
    width:100%;
    box-shadow: 0px 0px 10px  #fff;
    
}
section.banner .container{
    flex-direction:column;
    justify-content:flex-start;
    
}
section.banner h1{
    color:#fff;
    font-size:90px;
    font-family: serif;
    font-weight:bold;
    font-style:oblique;
    
}
section.banner p{
    color:#fff;
    font-size:25px;
    max-width:700px;
    margin-top:20px;  
}
/* === section-center === */
section.center{
    width:100%;
    position:relative;
    height:100vh;
}
.center-top{
    width:60%;
    padding-top:150px;
    position:absolute;
    top:0;
    left:0;
    background-color:var(--color-yellow);
    
}
section.center .container{
    height:100%;
    position:relative;
    z-index:99;
   
}
.center-box{
    width:33.3%;
}
.end{
    align-self: flex-end;
    height:100%;
    align-items: flex-end;
    display: flex;
    margin-top:80px;
}
.center-box img{ 
 width:90%;
 height:80%;
}
.center-box.text h2{
    font-size:90px;
    font-family: serif;
    margin:40px 0;
}
.center-box.text p{
    font-size:18px;
    font-weight:bold;
    line-height:30px;
    margin-bottom:30px;
}
.center-box a{
    text-decoration:none;
    font-weight:bold;color:var(--color-orange-dark);
    padding:5px 10px;
    transition:all ease 0.4s;
}
.center-box a:hover{
   opacity: 0.5;
}
.center-box.text{
    padding:0 25px;
}
.center-box .dark{
   width:250px;
   padding:25px 0;
   background-color:#111;
   margin-top:30px;
}
.center-bottom{
    position:absolute;
    top:50%;
    right:0;
    transform:translateY(-50%);
    padding-top:200px;
    width:100px;
    background-color:var(--color-orange-dark);
}
/* ==== section-cozinhar ==== */
section.cozinhar{
    background-image:url('../images/-min_02.jpg');
    background-size:cover;
    background-position:center;
    padding:80px 0;
}
section.cozinhar .container{
    flex-direction:column;
    text-align:center;
}
section.cozinhar h2{
    font-size:70px;
    font-family:serif;
    font-style:italic;
    font-weight:normal;
    color:var(--color-orange-dark); 
}
section.cozinhar p{
    color:#fff;
    font-size:18px;
    margin:20px 0;
    line-height:35px;
    text-shadow:1px 1px rgba(0,0,0,0.9);
}
.cozinhar-card-box{
    display:grid;
    gap:20px;
    grid-template-columns:repeat(3,1fr);
}
section.cozinhar  .cozinhar-card{
    padding:40px 20px;
    background-color: #fff;
    margin:0 auto;
}
section.cozinhar .cozinhar-card h2{
    text-align: left;
    font-size:100px;
    font-weight:bold;
    color:#111;
}
section.cozinhar .cozinhar-card h3{
   font-size:40px;
   font-family:serif;
   font-style:oblique;
   font-weight:bold;
}
section.cozinhar .cozinhar-card p{
    color:#111;
    text-shadow:none;
}
section.cozinhar .cozinhar-card img{
    margin:20px 0;
}
section.cozinhar .cozinhar-card.two{
    background-color:rgba(0,0,0,0.6);
}
section.cozinhar .cozinhar-card.two h2{
    color:var(--color-orange-dark);
}
section.cozinhar .cozinhar-card.two p,
section.cozinhar .cozinhar-card.two h3,
section.cozinhar .cozinhar-card.three h2,
section.cozinhar .cozinhar-card.three h3,
section.cozinhar .cozinhar-card.three p {
    color:#fff;
}  
section.cozinhar .cozinhar-card.three{
    background-color:var(--color-orange-dark);
}
/* ==== section-asiatica ==== */
section.asiatica{
    min-height: 500px;
    width:100%;
    background-image:linear-gradient(to right,#fff 50%, var(--color-yellow) 50%);
    position:relative;
}
.asiatica-text{
    display:flex;
    align-items:center;
    justify-content:center;
}
.asiatica-text h3{
    font-size:80px;
    font-family:serif;
    margin:60px auto;
    word-spacing:10px;

}
.asiatica-text br{display:none}
.asiatica-text p{
    max-width:400px;
    font-size:17px;
    text-align:center;
    margin:20px;
    line-height:35px;
}
/* ==== section img-food ==== */

section.img-food .container{
    display:grid;
    gap:15px;
    grid-template-columns:repeat(3,1fr);
    position:relative;
    top:-100px;
}
section.img-food .box-img{
   width:100%;
   height:70vh;
   background-color: #000;
   background-image:url('../images/img_sec_01.jpeg');
   background-size:cover;
   margin:15px auto;

}
section.img-food .box-img.img2{
    background-image:url('../images/img_sec_02.jpeg');
}
section.img-food .box-img.img3{
    background-image:url('../images/img_sec_03.jpeg');
}
/* ====== section-meate ==== */

section.meate{
    display:flex;
}
section.meate .meate-img{
    flex:1;
    height:100vh;
    min-height:500px;
    background-image:url('../images/img_terc_01.jpeg');
    background-size:cover;
    background-position:center;
}
section.meate .meate-img.two{
    background-image:url('../images/img_terc_02.jpeg');
}

section.meate .meate-text{
    writing-mode: vertical-lr;
    width:20%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:75px;
    font-weight:900;
    letter-spacing:12px;
    background-color:var(--color-yellow);
    padding:0 2%;
   
}
/* === section-agricolas === */


section.agricolas {
    position:relative;
    padding:40px 0;
}
section.agricolas .agricolas-cubo{
    position:absolute;
    top:0;
    left:0;
    width:30%;
    height:400px;
    background-color:var(--color-orange-dark);
    z-index:-1;
}
section.agricolas .agricolas-img-box{
    display:flex;
    flex:1;
    gap:20px;
}
section.agricolas .agricolas-img-box img{
    width:50%;
    height:400px;
}
section.agricolas .agricolas-text{
    width:40%;
    padding:0 30px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
section.agricolas .agricolas-text h2{
    color:var(--color-orange-dark);
    font-size:45px;
    font-family:serif;
    text-align: center;
}
section.agricolas .agricolas-text p{
    font-size:17px;
    line-height:30px;
    margin-top:30px;
}